{% extends "base.html"%}

{% block main%}
<div class = "container d-flex justify-content-center">
    <div class= "flex-row">
        <div>
            <h1>Merchant Dashboard</h1>
        </div>
        <div >
            {% include "flash_messages.html"%}
        </div>
        <div>
            <div class = "d-flex justify-content flex-wrap my-1">
                <!-- Company details -->
                <div class = "w-25 mr-4">
                    <img class="img-fluid rounded " src="{{ details.logo_image }}">
                </div>
                <div>
                    <h2> {{details.name}}</h2>
                    <p>{{details.address}}</p>
                    <p>{{details.location}}</p>
                </div>
                

            </div>
            <!-- Table withe the users -->
            <div>
                <table  class="table table-hover" id="customers">  
                    <thead class="thead-dark">
                        <tr>
                        <th scope="col">Customer Reference Number</th>
                        <th scope="col">Wait Time (HR:MIN)</th>
                        <th scope="col">Position in Line</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for customer in details.line.queue%} 
                        <tr>
                            <th scope="row">{{customer.code}}</th>
                            <td>00:{{customer.wait_time}}</td>
                            <td class="number">{{customer.position}} <a href="{{url_for('login')}}" role="button" class="btn btn-success my-2 my-sm-0 ml-3">Speak with customer</a></td>
                            <td></td>
                          </tr>
                        {%endfor%} 
                        
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>
{% endblock%}