{% extends "base.html"%}

{% block main%}
<div class = "container form_base" >
    <h1> Profiles </h1>
    <div>
        {% include "flash_messages.html"%}
    </div>
    {% if profiles != []%}
    <div class = "container">
        {% for profile in profiles%}
        <div class = "strip row">
        </div>
        <div class ="form_main row align-items-center">
            <div class = "col">
                <img class="img-fluid rounded " src="{{ url_for('static',filename='uploads/'+profile.image) }}">
            </div>
            <div class = "col">
                <h4>{{profile.first_name}} {{profile.last_name}}</h4>
                <p class="text-muted"><i class="fa fa-user fa-sm"></i> {{profile.gender}}</p>
                <p class="text-muted"><i class="fa fa-map-marker fa-sm"></i> {{profile.location}}</p>
            </div>
            <div class = "col ">
                <a href = "{{url_for('profile')+'/{0}'.format(profile.id)}}"><button class=" buttons btn btn-success"> View Profile</button></a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div>
        <div class = "strip"></div>
        <div class ="form_main ">
            <h4>No profiles to list</h4>
        </div>
    </div>
    {% endif %}
</div>
{% endblock%}