{% extends "base.html"%}

{% block main%}
<div class = "container form_base">
    <h1>User Profile</h1>
    <div class = "strip"></div>
    <div class ="form_main container">
        <div>
            {% include "flash_messages.html"%}
        </div>
        {% if not profile == None%}
        <div class = "container">
            <div class = "row align-items-center">
                <div class="col-4">
                    <img class = "img-fluid rounded" src="{{ url_for('static',filename='uploads/'+profile.image) }}">
                </div>
                <div class = "col-8">
                    <h2>{{ profile.first_name}} {{ profile.last_name}}</h2>
                    <p class="text-muted"> <i class="fa fa-envelope fa-sm"></i> {{profile.email}}</p>
                    <p class="text-muted"><i class="fa fa-map-marker fa-sm"></i> {{profile.location}}</p>
                    <p class="text-muted"> <i class="fa fa-calendar fa-sm"></i> joined on {{profile.creation_date.strftime("%B %d,%Y")}}</p>
                </div>
            </div>
            <div class = "row align-items-center">
                <p class="text-muted"><b>About Me</b></p><br/>
            </div>
            <div class = "row align-items-center">
                <p class="text-muted">{{profile.biography}}</p>
            </div>
            <div class = "row align-items-center">
                <div class = "col">
                    <button class=" buttons btn btn-success">send Message</button>
                </div>
                <div class = "col">
                    <button class="buttons btn btn-primary">follow</button>
                </div>
            </div>
        </div>
        {% else %}
        <div>
            <h4> The user profile doesn't exist</h4>
        </div>
        {% endif %}


    </div>
</div>
{% endblock%}